body {
    font-family: 'Vollkorn', serif;
    color: #2d3c49;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

a {
    color: #03a9f4;
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

hr {
    border: 1px solid #7d97ad;
}

header {
    background-color: #099dd9;
    padding-bottom: 2%;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 3%;
    color: white;
}

/*
Off canvas style
*/
nav {
    width: 300px;
    height: 100%;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}

nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.dark-blue {
  background-color: #2a457a;
  color: #efefef;
}

@media (min-width: 1200px) {
    body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    
    nav {
        position: relative;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
    main {
        width: auto;
        flex-grow: 1;
    }
    
}

.logo-field {
    padding-top: 1%;
}

div.col-md-1 {
    padding-left: 0;
}

.hamburger {
    background: none;
    top: 0;
    right: 0;
    line-height: 45px;
    color: #fff;
    border: 0;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.title-super {
    font-size: 4em;
}

.sub-title {
    font-size: 1.5em;
}

.main-pic {
    width: 100%;
}

.text-muted {
    font-weight: bold;
    color: #7d97ad;
}

.thumbnail {
    width: 100%;
}

.project_title {
    font-weight: bold;
}

