body {
    font-family: 'Roboto', sans-serif;
    color: #7d97ad;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.profile-logo {
    width: 15%;
    padding: 20px;
}

.title-header {
    width: 85%;
}