header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-right: 0;
}

.menu-button-field {
    width: 15%;
}

.logo-field {
    width: 25%;
}

.header-text {
    width: 60%;
}

.projects-section {
    display: flex;
    flex-direction: column;
}

.header-text {
    margin-left: 10%;
}

.project-article {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.thumbnail {
    width: 50%;
    height: 26%;
    margin-right: 20px;
}

.project-text {
    text-align: left;
}